<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Empty{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600">
    <link rel="stylesheet" href="{{ 'master.css' | asset_url }}">

  </head>
  <body class="page-{{ mixture.url }}">
    {% include "header" %}
      <main class="main" role="main">
        {% block content %}{% endblock %}
      </main>
    {% include "footer" %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw71lfSqtBuKaKTqQi437jAOzkNjiBrww&sensor=true"></script>

    {% block scripts %}{% endblock %}
    {{ "app.js" | asset_url | script_tag }}

  </body>
</html>