<header class="header" role="banner">
  <h1 class="logo">
    <a href="#">PODL</a>
  </h1>
  <nav class="pages underline" role="navigation">
    <ul>
      {% for page in global.pages %}
        <li><a href="{{ page.url | prepend: '/' | replace_first: 'index', '' }}" {% if mixture.url == page.url %}class="is-active"{% endif %}>{{ page.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>