{% block title %}{{ global.name }}{% endblock %}

{% block content %}
  <section class="block donate">
   <h1>Donate</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptas error quia magni nihil quaerat nemo omnis commodi labore nesciunt sint vitae odit consectetur. Natus harum nostrum perspiciatis assumenda tempore.</p>
  </section>
{% endblock %}