@media ( min-width: 760px ){

  .btn {
    display: inline-block;
    width: auto;
    font-size: em( 18 );
  }

  .container {
    width: 90%;
  }

  .header {
    .logo {
      text-align: left;
      float: left;
      width: 60%;
      margin: 0;
      padding: 0;
    }
    .pages {
      float: left;
      width: 40%;
    }
  }

  .pages {
    margin-top: .3em;
  }

  .intro {
    margin-bottom: 1.5em;
    padding-bottom: 2em;
    border-bottom: 1px solid $lightGray;
    .title {
      width: auto;
    }
  }

  .visit {
    .map-canvas {
      height: 350px;
      width: 100%;
      border: 1px solid $red;
      margin: 0 0 .5em 0;
    }
  }

  .main .block {
    border-bottom-width: 0;
    overflow: hidden;
    margin: 2em 0;
    padding: 1em 0;
    .block-header {
      float: left;
      width: 34%;
      padding-right: 3%;
      text-align: right;
    }
    .block-body {
      float: left;
      width: 66%;
    }
  }

}