body {
  margin: 0;
  background: transparent url("../img/devices.png") no-repeat 105% -20px;
  background-attachment: fixed;
}

.container {
  @include clearfix;
  margin: 0 auto;
  width: 95%;
}

.header {
  padding: .75em 0;
  margin-bottom: 1.5em;
  border-bottom: 3px solid rgba( 0, 0, 0, .25 );
  background-color: $red;
  .logo {
    text-align: center;
    padding: 0 0 .75em 0;
    font-size: em(24);
    a {
      color: #fff;
    }
  }
}

.pages {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;  
  li {
    width: 25%;
    float: left;
  }
  a {
    color: #fff;
    display: inline-block;
    &.is-active {
      border-bottom: 3px solid #fff;
      color: #fff;
      padding-bottom: .2em;
    }
    // &.is-active:after {
    //   position: absolute;
    //   margin: 0;
    //   top: 0;
    //   width: 0;
    //   height: 0;
    //   left: 45%;
    //   content: ' ';
    //   @include triangle( 15px, $red, down );
    // }
  }
}

.btn {
  display: block;
  width: 100%;
}

.block {
  padding: 2em 0;
  border-bottom: 1px solid $lightGray;
  &:last-child {
    border-bottom-width: 0;
  }
  .block-header {
    margin: 0 0 .5em 0;
  }
}

.footer {
  border-top: 3px solid rgba( 0, 0, 0, .25 );
  background-color: $red;
  color: #fff;
  position: relative;
  .block {
    border-bottom-width: 0;
    padding: .5em 1em;
  }
  a {
    color: #fff;
  }
  .copyright {
    padding: .5em;
    text-align: center;
    background-color: darken( $red, 15% );
    box-shadow: -15rem 0 0 darken($red,15%), 15rem 0 0 darken($red,15%)
  }
}

.intro {
  padding-top: 0;
  padding-bottom: 2em;
  .muted {
    color: $gray;
    display: block;
    font-size: em( 38, 46 );
    color: $red;
  }
  .title {
    font-size: em(46);
    line-height: 1.05em;
    margin-bottom: .5em;
    width: 50%;
  }
  .lead {
    margin: 0;
    font-size: em(26);
    color: $darkGray;
  }
}

.visit {
  address {
    margin: 1em 0;
    font-style: normal;
    color: red;
  }
  .map-canvas {
    height: 250px;
    width: 100%;
    border: 1px solid $red;
    margin: 0 0 .5em 0;
  }
}

.contribute {
  fieldset {
    border: 1px solid $lightGray;
    padding: 1em;
    border-radius: 5px;
    legend {
      font-size: em( 24 );
      display: none;
    }
  }
  .form-group {
    margin: 0 0 .5em 0;
    label {
      margin: 0 0 .2em 0;
      display: block;
      font-weight: bold;
    }
    textarea {
      height: 200px;
    }
  }
}


